<h1>This is :projectname</h1>
<p>project works!</p>

<div>
Actually here we get some information about the projects.
</div>

<div>
Here we have a list of the last changes with links to the the revision and to the diff. Maybe this revision is assigned 
to a review, then we want to show a link to a review as well. 
</div>

<div>
Recent Changes:
<ul>
	<li>commit comment    (<a href="XXY/review/RV-109">Review link</a>) &mdash; (<a href="XXY/revision/19353739">Revision Link</a>) &mdash; (<a href="XXY/diff/19353739">diff link</a>)   </li>
</ul>

</div>