<h1>Welcome to {{activeProjectID}}</h1>
<p>project component works!</p>

<div>
Actually here we get some information about the projects.
</div>

<div>
Here we have a list of the last changes with links to the the revision and to the diff. Maybe this revision is assigned 
to a review, then we want to show a link to a review as well. <br><br>
</div>

<div>
<ul>
<li> 
TODO: use a backend to get some information about the current project
</li>
<li> 
TODO: extract the last recent changes for this particular project
</li>

</ul>
</div>

<div>
Recent Changes:
<ul>
	<li>commit comment    (<a href="{{activeProjectID}}/review/RV-109" >Review link</a>) &mdash; (<a href="{{activeProjectID}}/revision/19353739">Revision Link</a>) &mdash; (<a href="{{activeProjectID}}/diff/19353739">diff link</a>)   </li>
</ul>

</div>