<div class="row">
	<div class="col-xl-9">
		<app-basic-revision-information [activeRevisionData]="uiRevisionData" [activeProjectID]="activeProjectID" [activeRevisionID]="activeRevisionID" ></app-basic-revision-information>

		<div class="row mt-2" >
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let fileChangeSet of uiFileChangeSets">
						<div class="row">
							<div class="col">
								<div class="float-right">
									<div class="mb-1"><button type="button" class="btn btn-light btn-sm" (click)="openSideBySideDialog(fileChangeSet)">Side by Side</button></div>
									<div class="mb-1"><button type="button" class="btn btn-danger btn-sm" (click)="openExperimentalSideBySideDialog(fileChangeSet)" title="Open SOTA Side by Side Diff Experimental dialog">try</button></div>
								</div>
												
								<app-file-change-set-single-diff [fileChangeSet]="fileChangeSet"></app-file-change-set-single-diff>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-xl-3">
		<app-revision-action-panel [activeRevisionData]="uiRevisionData" [activeProjectID]="activeProjectID"></app-revision-action-panel>
		
		<app-personal-user-feed></app-personal-user-feed>
		
		<app-file-participation-file-list-panel [fileInformations]="uiFileInformations" ></app-file-participation-file-list-panel>
		
	</div>
</div>	

