<div class="row">
	<div class="col-xl-9">
		<div class="row">
			<div class="col">
				<h4>Some Revison information data</h4>
				
				Back to <a [routerLink]="['/', activeProjectID]">activeProjectID</a>.
				
				special Diff is here: <a [routerLink]="['/',activeProjectID,'diff',activeRevisionID]">THE DIFF</a> 
			</div>
		</div>
	

		<div class="row">
			<div class="col">
				
				<ul *ngFor="let change of uiChanges" class="list-group">
					<li class="mb-0 mt-0 list-group-item" >
						<h5>{{change.lazy_diff_line}}</h5>
						<p class="text-muted">{{change.lazy_lineinfo_line}}</p>
						<ul class="list-unstyled mb-0 pb-0 mt-0 pt-0">
							<li class="mb-0 pb-0 mt-0 pt-0" *ngFor="let linechange of change.lazy_file_diff">
								<pre *ngIf="linechange.startsWith('-')" class="diff-bg-removed text-dark">{{linechange}}</pre>
								<pre *ngIf="linechange.startsWith('+')" class="diff-bg-added text-dark">{{linechange}}</pre>
								<pre *ngIf="!linechange.startsWith('-') && !linechange.startsWith('+')" class="bg-light text-dark" >{{linechange}}</pre>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-xl-3">
		<h4>Feed &amp; Action Area</h4>
	</div>
</div>	
