<div class="row">
	<div class="col-xl-9">
		<div class="row mt-2">
			<div class="col">
				<h4>Some Revison information data</h4>
				
				Back to <a [routerLink]="['/', activeProjectID]">activeProjectID</a>.
				
				special Diff is here: <a [routerLink]="['/',activeProjectID,'diff',activeRevisionID]">THE DIFF</a> 
			</div>
		</div>
	
		<div class="row mt-2">
			<div class="col">
				<h4>File Commit Actions</h4>
				<ul class="list-group">
					<li class="list-group-item"  *ngFor="let change of uiFilePathActions">
						{{change[0]}} &mdash; <tt>{{change[1]}}</tt> 
					</li>
				</ul>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col">
				<ng-container *ngFor="let fileChangeSet of uiFileChangeSets" >
					<app-file-change-set-single-diff [fileChangeSet]="fileChangeSet"></app-file-change-set-single-diff>
				</ng-container>
			</div>
		</div>
	</div>
	
	<div class="col-xl-3">
		<h4>Feed &amp; Action Area</h4>
	</div>
</div>	
