<h5>{{currentUiFileChangeSet.scmFromFilePath}} <span *ngIf="currentUiFileChangeSet.scmFromFilePath!=currentUiFileChangeSet.scmToFilePath"> =&gt; {{currentUiFileChangeSet.scmToFilePath}}</span></h5>
<p></p>
<!-- <p class="text-muted">{{currentUiFileChangeSet.tempLayzIndexLineInfo}}</p> -->
<ul class="list-group">
	<li class="list-group-item p-0 m-0" *ngFor="let contentChangeSet of currentUiFileChangeSet.uiContentChangeSet">
		<p class="text-muted">TODO: use linenumbers in contentChangeSet for something useful here...</p>
		<app-content-change-set-single-diff [contentChangeSet]="contentChangeSet"></app-content-change-set-single-diff>
	</li>
</ul>
