<div class="row">
	<div class="col-xl-9">
		<app-basic-project-information [activeProjectId]="activeProjectID"></app-basic-project-information>
	
		<div class="card mt-3">
			<div class="card-header">
				<h5>Current Open Reviews</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngIf="uiModelRecentProjectReviews.length==0">
				(none)
				</li>
			
				<li *ngFor="let review of uiModelRecentProjectReviews" class="list-group-item">
				<!-- TODO: also think about a reload (callback/eventemitter) in case a reviewState was updated -->
						<app-open-review-item [activeProjectID]="activeProjectID" [openReview]="review" (reviewUpdated)="onReviewUpdated($event)"></app-open-review-item>
				</li>
			</ul>
		</div>
		
		<div class="card mt-3">
			<div class="card-header">
				<h5>Recently Closed Reviews</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" *ngIf="uiModelRecentClosedProjectReviews.length==0">
				(none)
				</li>
				<li class="list-group-item" *ngFor="let closedreview of uiModelRecentClosedProjectReviews">
				<!-- TODO: also think about a reload (callback/eventemitter) in case a reviewState was updated -->					
						<app-closed-review-item [activeProjectID]="activeProjectID" [closedReview]="closedreview"></app-closed-review-item>
				</li>
			</ul>
		</div>
					
		
	</div>
	
	<div class="col-xl-3">
		<app-personal-user-feed></app-personal-user-feed>
	</div>
	
</div>