<div class="row">
	<div class="col-xl-9">
		<app-basic-project-information [activeProjectId]="activeProjectID"></app-basic-project-information>
	
		<div class="row mt-4">
			<div class="col">
				<h4>Current Open Reviews</h4>

				<ul class="list-group">
					<li *ngFor="let review of uiModelRecentProjectReviews" class="list-group-item">
					<!-- TODO: also think about a reload (callback/eventemitter) in case a reviewState was updated -->
 						<app-open-review-item [activeProjectID]="activeProjectID" [openReview]="review"></app-open-review-item>
					</li>
				</ul>
				
			</div>
		</div>
		
		<div class="row mt-4">
			<div class="col">
				<h4>Recently Closed Reviews</h4>
				
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let closedreview of uiModelRecentClosedProjectReviews">
					<!-- TODO: also think about a reload (callback/eventemitter) in case a reviewState was updated -->					
<!-- 						<app-closed-review-item [activeProjectID]="activeProjectID" [closedReview]="closedreview"></app-closed-review-item> -->
						<p><span><b class="mr-3">{{closedreview.reviewId}}:</b><a [routerLink]="['/',activeProjectID,'review',closedreview.reviewId]"><b>{{closedreview.reviewTitle}}</b></a></span></p>
						<span class="small text-muted">authored by: <span *ngFor="let author of closedreview.reviewAuthors">{{author}}&nbsp;</span></span>
					</li>
				</ul>
			</div>
		</div>
					
		
	</div>
	
	<div class="col-xl-3">
		<h4>Feed &amp; Action Area</h4>
	</div>
	
</div>