<div class="row">
	<div class="col-xl-9">
		<app-basic-project-information [activeProjectId]="activeProjectID"></app-basic-project-information>
	
		<div class="row">
			<div class="col">
				<h4>Open Reviews</h4>

				<ul class="list-group">
					<li *ngFor="let review of uiModelRecentProjectReviews" class="list-group-item">
						<p><span><b>{{review.reviewId}}:</b>&nbsp;<a [routerLink]="['/',activeProjectID,'review',review.reviewId]">{{review.reviewTitle}}</a></span></p>
						<span class="small text-muted">authored by: <span *ngFor="let author of review.reviewAuthors">{{author}}&nbsp;</span></span>
					</li>
					
				</ul>
				
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<h4>Recently Closed Reviews</h4>
			</div>
		</div>
					
		
	</div>
	
	<div class="col-xl-3">
		<h4>Feed &amp; Action Area</h4>
	</div>
	
</div>