<div>
	<div class="float-right">
		<a class="btn btn-sm btn-secondary" *ngIf="!isMessageEditMode" (click)="toggleEditTextMode()">edit-mode</a>
		<a class="btn btn-sm btn-secondary" *ngIf="isMessageEditMode" (click)="toggleEditTextMode()">text-mode</a>
	</div>
	<div>
		<ng-container *ngIf="!isMessageEditMode">
		{{activeMessage.message}}
		</ng-container>
		<ng-container *ngIf="isMessageEditMode">
			<textarea>{{activeMessage.message}}</textarea>
			<div><a class="btn btn-primary btn-sm mr-2">update message</a> <a class="btn btn-secondary btn-sm mr-2">cancel</a></div>
		</ng-container>
	
		<ng-container *ngIf="isInAnswerMode">
			<a class="btn btn-primary btn-sm" *ngIf="activeMessage.replyToMsgId==''" >Answer To Thread</a>
			<a class="btn btn-primary btn-sm" *ngIf="activeMessage.replyToMsgId!=''" >Answer This message</a>
		</ng-container>
	</div>
</div>