<div>
	<div class="float-right">
		<a class="btn btn-sm btn-secondary" *ngIf="!isMessageEditMode" (click)="toggleEditTextMode()">edit-mode</a>
		<a class="btn btn-sm btn-secondary" *ngIf="isMessageEditMode" (click)="toggleEditTextMode()">text-mode</a>
	</div>
	<div>
		<ng-container *ngIf="!isMessageEditMode">
			{{activeMessage.message}}
			<div><a class="btn btn-sm btn-primary" *ngIf="!isInAnswerMode" (click)="activateReplyMode()">reply</a></div>
		</ng-container>
		
		<ng-container *ngIf="isMessageEditMode">
			<form (ngSubmit)="saveUpdatedMessage()">
				<textarea class="col-9" [formControl]="formMessageText"></textarea>
				<div>
					<button type="submit" class="btn btn-primary btn-sm mr-2" >update message</button>
					<button type="button" class="btn btn-danger btn-sm  mr-2" (click)="resetMessage()" >reset to previous message</button>
					<button type="button" class="btn btn-secondary btn-sm mr-2" (click)="cancelMessageEdit()" >cancel</button>
				</div>
			</form>
		</ng-container>
	
		<ng-container *ngIf="isInAnswerMode">
			<form (ngSubmit)="sendReplyMessage()">
				<textarea id="reply{{activeMessage.messageId}}" class="col-9 mt-2" [formControl]="formAnswerText" #replyToMe></textarea>
				<div>
					<button type="submit" class="btn btn-primary btn-sm mr-2" >Send reply</button>
					<button type="button" class="btn btn-secondary btn-sm mr-2" (click)="cancelReply()">cancel</button>
				</div>
			</form>
		</ng-container>
	</div>
</div>