<div class="d-flex flex-row-reverse">
	<div class="col-1 p-1 align-self-center"><a *ngIf="openReview.reviewReadyToClose" class="btn btn-sm btn-secondary" title="close this review" (click)="onCloseReview()">close</a></div>
	<div class="col-2 p-1 align-self-center" >
		<span *ngIf="openReview.reviewUnassigned" class="text-danger small"><b>No reviewers assigned</b></span>
		<div *ngIf="!openReview.reviewUnassigned">
			<ng-container *ngFor="let reviewer_kv of currentReviewers | keyvalue">
				<app-review-result [reviewState]="reviewer_kv.value"></app-review-result>
			</ng-container>
		</div>
	</div>
	<div class="mr-auto p-1">
		<p><span><b class="mr-3">{{openReview.reviewId}}:</b><a [routerLink]="['/',activeProjectID,'review',openReview.reviewId]"><b>{{openReview.reviewTitle}}</b></a></span></p>
		<span class="small text-muted">Authors: <span *ngFor="let author of openReview.reviewAuthors">{{author}}&nbsp;</span> </span> 
	</div>
</div>


