<div class="m-0 p-0" (click)="onToggleFileList()">
	<app-avatar-only [size]="36" [uuid]="revision.authorUuid"></app-avatar-only>
	<span class="float-right"><a class="btn btn-sm btn-secondary mr-2" title="{{title}}" *ngIf="!revision.hasReview" (click)="onButtonClicked(revision.revisionid); $event.stopPropagation();">{{btnText}}</a><span class="small text-monospace">{{revision.shortrev}}</span></span>
	
	<span class="small text-muted ml-2"><b>{{revision.message}}</b></span><br/>		
	<span class="small text-muted">authored on {{revision.date}} ({{revision.reldate}})</span>
	
	<div *ngIf="showFileList" class="ml-3 mt-2">
		<ul class="list-unstyled">
			<li class="list-unstyled" *ngFor="let file of uiFileInformations">
			<span class="mr-2 badge ml-3" [ngClass]="{
				 'badge-primary': file.fileAction=='M', 
				 'badge-secondary': file.fileAction=='R100',
				 'badge-danger': file.fileAction=='D',
				 'badge-success': file.fileAction=='A'
				  } ">{{file.fileAction}}</span>
				  <span class="small"><span class="text-black"><b>{{file.simpleFileName}}</b></span><span class="small text-muted ml-3">{{file.parentFilePath}}/</span></span>
			</li>
		</ul>
	</div>
</div>