<div class="card mt-2">
	<div class="card-header">
		<h5>{{uiActiveFileInformation.simpleFileName}}<span class="ml-4 small">{{uiActiveFileInformation.parentFilePath}}</span></h5>		
	</div>
	<div class="card-body">
 		<ngx-codemirror
		  [(ngModel)]="uiRevisionFileContent.fileContent"
		  [disabled]="readOnly"
		  [options]="{
		    lineNumbers: true,
		    firstLineNumber: 1,
		    viewportMargin: viewPortMargin,
		    theme: 'eclipse',
		    mode: 'html'
		  }"
		></ngx-codemirror>
		
	</div>
</div>

