<div class="row">
	<div class="col col-9">
		<div class="card mt-2">
			<div class="card-header">Add Project</div>
			<div class="card-body">
				<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
				
					<div class="form-group">
						<label for="scmRepositoryURL">Repository URL</label>
						<input type="text" formControlName="scmRepositoryURL" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmRepositoryURL.errors}"/>
						<div *ngIf="submitted && f.scmRepositoryURL.errors" class="invalid-feedback">
							<div *ngIf="f.scmRepositoryURL.errors.required">Please provide a repository URL.</div>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-4">
							<label for="scmProjectDisplayName">Display name</label>
							<input type="text" formControlName="scmProjectDisplayName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmProjectDisplayName.errors}"/>
							<div *ngIf="submitted && f.scmProjectDisplayName.errors" class="invalid-feedback">
								<div *ngIf="f.scmProjectDisplayName.errors.required">Please provide a Display Name</div>
							</div>
						</div>
						
						<div class="form-group col-4">
							<label for="scmProjectId">ProjectId (TODO unique and lowercase and limited chars)</label>
							<input type="text" formControlName="scmProjectId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmProjectId.errors}"/>
							<div *ngIf="submitted && f.scmProjectId.errors" class="invalid-feedback">
								<div *ngIf="f.scmProjectId.errors.required">Please provide a unique project short project identifier.</div>
							</div>
						</div>
						
						<div class="form-group col-4">
							<label for="scmProjectReviewPrefix">Code Review Prefix</label>
							<input type="text" formControlName="scmProjectReviewPrefix" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmProjectReviewPrefix.errors}" value="CR-"/>
							<div *ngIf="submitted && f.scmProjectReviewPrefix.errors" class="invalid-feedback">
								<!-- TODO: add some error classes and descriptions here. -->
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="scmProjectDescription">Project description</label>
						<textarea formControlName="scmProjectDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmProjectDescription.errors}" rows="3"></textarea>
						<div *ngIf="submitted && f.scmProjectDescription.errors" class="invalid-feedback">
							<!-- TODO: add some error classes and descriptions here. -->
						</div>
					</div>
				
					<div class="form-group">
		 				<button [disabled]="loading" class="btn btn-primary">
		                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
		                    Add Project
		                </button>
					</div>
				
				</form>
				
				<hr />
				
				TODO:
				
				<ul>
					<li>projectId (must be unique), will be queried, each time it is updated, and is derived from displayname.</li>
					<li>projectUUID - will be generated.</li>
					<ul>
						<li>the following configurations should be part of the edit configuration instead of the create operation</li>
						<ul>
							<li>projectType</li>
							<li>projectDefaultBranch</li>
							<li>branches</li>
							<li>gitconfiguration</li>
							<ul>
								<li>localpath</li>
								<li>defaultbranchname</li>
								<li>server, etc....</li>
							</ul>
							<li>svnconfiguration</li>
						</ul>
					</ul>
				</ul>
				
			</div>
		</div>
	</div>
</div>

