<div class="card mt-2 mb-2">
  <div class="card-body">
		<h5>My Starred Projects</h5>
		<ul class="list-unstyled" *ngIf="uiModelStarredProjects.length>0">
			<li *ngFor="let project of uiModelStarredProjects" class="list-item"> <a [routerLink]="['/',project.project_id]" class="font-weight-bold" >{{project.project_display_name}}</a> <br/>
			<span class="text-muted small">{{project.description}}</span>
			</li> 
		</ul>
		<div *ngIf="uiModelStarredProjects.length==0">
			You may consider to star some projects from the <a [routerLink]="['/allprojects']">All Projects page</a> first, to see them here.
		</div>
  </div>
</div>