<div class="card mt-2">
	<div class="card-header">
		Files (simple list)
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-unstyled"  *ngFor="let file of uiFileInformations">
			<span class="small text-muted"><b>{{file.parentFilePath}}</b></span><br>
			<span class="mr-2 badge ml-3" [ngClass]="{
				 'badge-primary': file.fileAction=='M', 
				 'badge-secondary': file.fileAction=='R100',
				 'badge-danger': file.fileAction=='D',
				 'badge-success': file.fileAction=='A'
				  } ">{{file.fileAction}}</span><span class="small text-primary"><b>{{file.simpleFileName}}</b></span>
		</li>
	</ul>
	
</div>
	
