/* You can add global styles to this file, and also import other style files */

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/3024-day';
@import '~codemirror/theme/eclipse';

/* reduce default basis font-size of application */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;  
  --bs-gray-dark: #343a40;
}


body {
	font-size: 11pt, !important;
	background: var(--bs-gray-200);
}

/* improve readability of diff in eclipse mode */

.CodeMirror {
	font-family: "Courier New", monospace;
	font-size: 10pt;
	height: auto;	
}

.cm-s-eclipse span.cm-positive { background: #ddffdd60; }
.cm-s-eclipse span.cm-negative { background: #ffdddd60; }

/* Bootstrap hack for a modal dialog near fullscreen size.*/
.modal-fs {
	width:95%;
	max-width:98%;
}

/* BPE unified classes */
.bpediff-u-d {
	background:#ffa0a0;
	display:inline;
	text-decoration: line-through;
}
.bpediff-u-i {
	background:#c0ffc0;
	display:inline;
}	
.bpediff-u-u {
	background:#eeeeff;
	display:inline;
}

/* BPE left (only delete and unchanged) */
.bpediff-l-d {
	background:#ffa0a0;
	display:inline;
}
.bpediff-l-u {
	background:#eeeeff;
	display:inline;
}	

/* BPE right (only insert and unchanged) */
.bpediff-r-i {
	background:#c0ffc0;
	display:inline;
}	
.bpediff-r-u {
	background:#eeeeff;
	display:inline;
}	
	
	
