<div class="card mt-2">
  <div class="card-body">
	Reviewmanagement
  </div>
  <ul class="list-group list-group-flush">
  	<li class ="list-group-item">
  		<p><span class="small text-muted"><b class="mr-2">Author(s):</b>{{currentUiReviewData.reviewAuthors.length}}</span></p>
  		
  		<ng-container *ngFor="let author of currentUiReviewData.reviewAuthors">
  			<span>{{author}}</span>
  		</ng-container>
  	</li>
  	<li class ="list-group-item">
		<span class="float-right" *ngIf="!isCurrentUserAReviewer">
			<a class="btn btn-sm m-0 btn-light" title="add me to review" (click)="onAddMeToReview(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">add me</a> 		
 		</span>
  	
  		<p><span class="small text-muted"><b class="mr-2">Reviewer(s):</b><a class="btn btn-sm mr-2 btn-light" title="add a reviewer">+</a></span></p>
	

		<p  *ngIf="currentReviewers.size>0">
			<ng-container *ngFor="let reviewer_kv of currentReviewers | keyvalue">
				<span class="m-1"><span class="badge" [ngClass]="{
					'badge-success':reviewer_kv.value.reviewresult=='approve',
					'badge-info': reviewer_kv.value.reviewresult=='concern',
					'badge-light': reviewer_kv.value.reviewresult==''
				}" >{{reviewer_kv.value.reviewer_id}}</span></span>
			</ng-container>
		</p>  		
  		
  		<span class="float-left" *ngIf="isCurrentUserAReviewer">
	 		<a class="btn btn-sm m-1 btn-success" title="Approve this Review" *ngIf="currentUiReviewData.reviewLifecycleState=='Open'"          (click)="onReviewApprove(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">approve</a>
	 		<a class="btn btn-sm m-1 btn-info" title="Raise concerns for this Review" *ngIf="currentUiReviewData.reviewLifecycleState=='Open'"  (click)="onReviewConcern(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">have concerns</a>
 		</span>
  	</li>
	<li class ="list-group-item">
  		<a class="btn btn-sm m-1 btn-secondary" title="Close this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Closed' && currentUiReviewData.reviewLifecycleState!='Deleted'" (click)="onCloseReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">close</a>
  		<a class="btn btn-sm m-1 btn-secondary" title="Reopen this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Open'" (click)="onReopenReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">reopen</a>
  		<a class="btn btn-sm m-1 btn-danger" title="Delete this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Deleted'" (click)="onDeleteReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">delete</a>
  	</li>
  	
  </ul>
</div>

