<div class="card mt-2">
  <div class="card-header">
	Reviewmanagement
  </div>
  <ul class="list-group list-group-flush">
  	<li class ="list-group-item">
  		<p><span class="small text-muted"><b class="mr-2">Author(s):</b>{{currentUiReviewData.reviewAuthors.length}}</span></p>
  		
  		<span class="ml-1 mr-1" *ngFor="let author_uuid of currentUiReviewData.reviewAuthors">
  			<app-avatar-and-name [uuid]="author_uuid" [size]="24"></app-avatar-and-name>
  		</span>
  	</li>
  	<li class ="list-group-item">
  		<span class="float-right">
			<a *ngIf="!isCurrentUserAReviewer" class="btn btn-sm btn-light" title="add me to review" (click)="onAddMeToReview(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">add me</a>
  			<a class="btn btn-sm ml-2 mr-0 btn-light" title="add a reviewer" (click)="onAddReviewer(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">+</a>
  			<a *ngIf="currentReviewers.size>0" class="btn btn-sm ml-2 mr-0 btn-light" title="remove a reviewer" (click)="onRemoveReviewer(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">&ndash;</a>
		</span>  	
		
  		<p><span class="float small text-muted"><b class="mr-2">Reviewer(s):</b></span></p>
	

		<p *ngIf="currentReviewers.size>0">
			<ng-container *ngFor="let reviewer_kv of currentReviewers | keyvalue">
				<div class="m-1">
					<app-review-result [reviewState]="reviewer_kv.value"></app-review-result>
				</div>
			</ng-container>
		</p>  		
  		
  		<span class="float-left" *ngIf="isCurrentUserAReviewer">
	 		<a class="btn btn-sm m-1 btn-success" title="Approve this Review" *ngIf="currentUiReviewData.reviewLifecycleState=='Open'"          (click)="onReviewApprove(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">approve</a>
	 		<a class="btn btn-sm m-1 btn-info" title="Raise concerns for this Review" *ngIf="currentUiReviewData.reviewLifecycleState=='Open'"  (click)="onReviewConcern(currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId)">have concerns</a>
 		</span>
  	</li>
	<li class ="list-group-item">
  		<a class="btn btn-sm m-1 btn-secondary" title="Close this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Closed' && currentUiReviewData.reviewLifecycleState!='Deleted'" (click)="onCloseReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">close</a>
  		<a class="btn btn-sm m-1 btn-secondary" title="Reopen this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Open'" (click)="onReopenReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">reopen</a>
  		<a class="btn btn-sm m-1 btn-danger" title="Delete this Review" *ngIf="currentUiReviewData.reviewLifecycleState!='Deleted'" (click)="onDeleteReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId )">delete</a>
  	</li>
  	
  </ul>
</div>

