<header class="navbar navbar-dark navbar-expand bg-dark flex-column flex-md-row bd-navbar">
	<!-- Home link -->
	<a class="navbar-brand mr-0 mr-md-2" [routerLink]="['/']">{{title}}</a>
	<!-- Spacer -->
	<!-- <div></div> -->
	<!-- Navigation bar, which is controlled by the selected view, flexible until the last items -->
	<div class="navbar-nav-scroll">
		<ol class="navbar-nav bd-navbar-nav flex-row">
			<ng-container *ngFor="let navitem of navItems">
				<li class="nav-item"><a class="nav-link small"  [routerLink]="navitem.routerLink">{{navitem.linkText}}</a></li>
			</ng-container>
		</ol>
	</div>
	<!-- Notification area -->
	<div class="flex-auto"></div>
	<!-- User icon area with drop down navigation and indicator? -->
	<div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<!-- Depending on the login state we want either a login button or a user drop down -->
			<li *ngIf="currentUserUnknown" class="nav-item">
				<a class="btn btn-sm btn-outline-secondary" (click)="fakeLoginRemoveMe()">login</a>
			</li>
			<li *ngIf="currentIsAdmin" class="nav-item" >
				<a class="nav-item nav-link" [routerLink]="['/','admin']">skyport</a>
			</li>
			<li>
				<div *ngIf="!currentUserUnknown" ngbDropdown class="d-inline-block" placement="bottom-right" display="dynamic">
					<button class="btn btn-sm btn-dark mt-1" id="dropdownBasic1" ngbDropdownToggle>Me</button>
					<div ngbDropdownMenu>
					  <button ngbDropdownItem>Action - 1</button>
					  <button ngbDropdownItem>Another Action</button>
					  <div class="dropdown-divider"></div>
					  <button ngbDropdownItem (click)="onLogoutClicked()">logout</button>
					</div>
				</div>
			
			</li>
			
		</ul>
	</div>
	
</header>

