<div class="row">
	<div class="col col-9">

		<div class="card mt-2">
			<div class="card-header">
				Show / Edit (provide button to switch between show and edit.) 
			</div>
			<div class="card-body">
			
				<!-- TODO: editform -->
				<form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label for="scmRepositoryURL">Repository / Project URL</label>
						<input type="text" formControlName="scmRepositoryURL" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmRepositoryURL.errors}" value="{{activeProjectConfiguration.projectRemoteRepositoryURL}}"/>
						<div *ngIf="submitted && f.scmRepositoryURL.errors" class="invalid-feedback">
							<div *ngIf="f.scmRepositoryURL.errors.required">Please provide a repository URL.</div>
						</div>
					</div>
					
					
					<div class="form-group">
						<label for="scmProjectDescription">Project description</label>
						<textarea formControlName="scmProjectDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scmProjectDescription.errors}" rows="3">{{activeProjectConfiguration.projectDescription}}</textarea>
						<div *ngIf="submitted && f.scmProjectDescription.errors" class="invalid-feedback">
							<!-- TODO: add some error classes and descriptions here. -->
						</div>
					</div>

					<p>TODO: provide editable details of this project from admin perspective.</p>

					<div class="form-group">
					    <label for="scmProjectType">Project Repository Type</label>
					    <select formControlName="scmProjectType" class="form-control" value="{{activeProjectConfiguration.scmProjectType}}">
					      <option value="none">none</option>
					      <option value="git">git</option>
					      <option value="svn">svn</option>
					      <!-- TODO:csv? -->
					      <!-- TODO:hg? -->
					      <!-- TODO:p4/perforce? -->
					    </select>
					</div>

					<button class="btn btn-primary" type="submit">save</button>
										
				</form>
			</div>
		</div>
		
		<div class="card mt-2">
			<!-- tabs for git / svn / etc. -->
			<div class="card-body">
				<!-- tabs for git / svn / etc.for some effing this doesn't work right now. But i don't care enough right now i guess. -->
				<ul class="nav nav-tabs" id="scmTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="git-tab" data-bs-toggle="tab" data-bs-target="#git" type="button" role="tab" aria-controls="git" aria-selected="true">git</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="svn-tab" data-bs-toggle="tab" data-bs-target="#svn" type="button" role="tab" aria-controls="svn" aria-selected="false">svn</button>
					</li>
<!-- 					<li class="nav-item" role="presentation">
							<button class="nav-link" id="csv-tab" data-bs-toggle="tab" data-bs-target="#csv" type="button" role="tab" aria-controls="csv" aria-selected="false" aria-disabled="true">csv</button>						
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="hg-tab" data-bs-toggle="tab" data-bs-target="#hg" type="button" role="tab" aria-controls="hg" aria-selected="false" aria-disabled="true">hg</button>
						</li>
 -->					
				</ul>
				<div class="tab-content" id="scmTabContent">
					<div class="tab-pane fade show active" id="git" role="tabpanel" aria-labelledby="git-tab">
						<div class="card list-group-flush" style="border-top:none;">
							<div class="card-body">
								GIT CONTENT for some reason tab selection doesn't works now, anyhow i digress...
							</div>
						</div>								
					</div>
					<div class="tab-pane fade" id="svn" role="tabpanel" aria-labelledby="svn-tab">
						<div class="card list-group-flush" style="border-top:none;">
							<div class="card-body">
								SVN CONTENT for some reason tab selection doesn't works now, anyhow i digress...
							</div>
						</div>								
					</div>
					<div class="tab-pane fade" id="csv" role="tabpanel" aria-labelledby="csv-tab">CSV CONTENT</div>
					<div class="tab-pane fade" id="hg" role="tabpanel" aria-labelledby="hg-tab">HG CONTENT</div>
				</div>
			</div>
			
			<div class="card-body">
				maybe we also want to provide some last/latest activities of the project.
			</div>
		</div>


		<div class="row">
			<div class="col col-6">
				<!-- Groups -->
				<div class="card mt-2">
					<div class="card-header">
						Groups
					</div>
					<div class="card-body">
						List of groups for this project / add / remove buttons
					</div>
				</div>
			</div>
			
			<div class="col col-6">
				<!-- Roles -->
				<div class="card mt-2">
					<div class="card-header">
						???
					</div>
					<div class="card-body">
						???
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col-12">
				<div class="card mt-2">
					<div class="card-header">
						Project Audit
					</div>
					<div class="card-body">
						AuditLinks and Basic Audit information
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="col col-3">
		<div class="card mt-2">
			<div class="card-body">
				<!-- only provide clone button, when we have no local copy of the project. (missing local cache directory) -->
				<div *ngIf = "activeProjectConfiguration.hasProjectRemoteReporitoryURL==true" class="mb-2">
					<!-- TODO disable until cloned - until success - maybe provide a observer url. -->
					<button class="btn btn-warning" onClick="onCloneProjectToDisk()">Clone Project</button>
				</div>
				<div>
				TODO SOMETHING HERE
				</div>
			</div>
		</div>
	</div>
</div>
	