<div class="row">
	<div class="col col-9">

		<div class="card mt-2">
			<div class="card-header">
				Edit
			</div>
			<div class="card-body">
				provide editable details of this project from admin perspective.
			</div>
			<div class="card-body">
				maybe we also want to provide some last/latest activities of the project.
			</div>
		</div>


		<div class="row">
			<div class="col col-6">
				<!-- Groups -->
				<div class="card mt-2">
					<div class="card-header">
						Groups
					</div>
					<div class="card-body">
						List of groups for this project / add / remove buttons
					</div>
				</div>
			</div>
			
			<div class="col col-6">
				<!-- Roles -->
				<div class="card mt-2">
					<div class="card-header">
						???
					</div>
					<div class="card-body">
						???
					</div>
				</div>
			</div>
		
		</div>

	
	</div>
	
	<div class="col col-3">
		<div class="card mt-2">
			<div class="card-body">
				TODO SOMETHING HERE
			</div>
		</div>
	</div>
</div>
	