<div class="card mt-2">
	<div class="card-header">
			<div class="float-right">
				<!-- TODO: Maybe provide a link to a list of users who starred this project... -->
				<a class="btn btn-sm btn-light border-secondary" *ngIf="!isStarred" (click)="onStarMe(activeProjectId)" title="Star this project"><span class="text-white mr-1">&#9734;</span> Star <span class="badge badge-light ml-1" title="Number of Stars">{{uiProjectInfo.projectStarCount}}</span> </a>
				<a class="btn btn-sm btn-secondary border-secondary" *ngIf="isStarred" (click)="onUnstarMe(activeProjectId)" title="Unstar this project"><span class="text-warning mr-1">&#9733;</span> Starred <span class="badge badge-light ml-1" title="Number of Stars">{{uiProjectInfo.projectStarCount}}</span></a>
			</div>
			
			<h4>{{uiProjectInfo.projectDisplayName}}</h4>
	
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			
			<p class="text-muted">{{uiProjectInfo.projectDescription}}</p>
			
			<div class="float-right">
				<a class="btn btn-sm btn-secondary" (click)="onUpdateProjectCache(activeProjectId)">update project cache</a>
			</div>
			
			<span class="mr-2 text-muted"><a [routerLink]="['/','admin','project',uiProjectInfo.projectID]">configure</a></span>
			
			<span class="mr-2 text-muted">|</span>
			
			<span class="mr-2 text-muted"><a [routerLink]="['/',uiProjectInfo.projectID,'branches']">branches</a></span>
			
			<span class="mr-2 text-muted">|</span>
			
			<span class="mr-2 text-muted">browse code (TODO)</span>
		</li>
	</ul>
</div>

