<div class="row">
	<div class="col-xl-9">
		<app-basic-revision-information [activeRevisionData]="uiRevisionData" [activeProjectID]="activeProjectID" [activeRevisionID]="activeRevisionID" ></app-basic-revision-information>

		<app-file-content-viewer [revisionFileContent]="uiRevisionFileContent"></app-file-content-viewer>
	</div>
	
	<div class="col-xl-3">
		<app-revision-action-panel [activeRevisionData]="uiRevisionData" [activeProjectID]="activeProjectID"></app-revision-action-panel>
		
		<app-other-file-revisions-panel  [activeProjectID]="activeProjectID" [activeRevisionID]="activeRevisionID" [otherRevisions]="uiOtherFileRevisions"></app-other-file-revisions-panel>
	</div>
</div>	
	
