<div class="modal-header">
	<h4 class="h4 modal-title">Remove Participant From {{currentUiReviewData.reviewId}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<h5 class="h5">Current Reviewers</h5>
	
	<ul>
		<li *ngFor="let reviewer of currentReviewers| keyvalue:originalOrder">
			<span><span class="small">{{reviewer.key}}</span> <span><a class="btn btn-sm btn-secondary" >remove</a></span></span>
		</li>	
	</ul>

</div>

<div class="modal-footer">
&nbsp;
</div>
