<div class="modal-header">
	<h4 class="h4 modal-title">Remove Participant From {{currentUiReviewData.reviewId}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<h5 class="h5">Current Reviewers</h5>
	
	<ul class="list list-unstyled">
		<li *ngFor="let reviewer of currentReviewers| keyvalue:originalOrder">
			<span class="btn btn-secondary mb-1" title="Click to remove this participant from review" (click)="removeParticipant(reviewer.key)"><app-avatar-and-name [uuid]="reviewer.key" ></app-avatar-and-name></span>
		</li>	
	</ul>

</div>

<div class="modal-footer">
&nbsp;
</div>
