<div class="card mt-2">
	<div class="card-header">
		<span class="small text-muted"><b class="mr-2">Other File Revision(s):</b></span><span class="badge badge-light text-muted" title="Number of revisions for this file">{{uiOtherRevisions.length}}</span>
	</div>
	<div class="list-group list-group-flush">
		<a class="mb-2" *ngFor="let revision of uiOtherRevisions" class="list-group-item list-unstyled small"
				[ngClass]="{'active':revision.revisionid==uiActiveRevisionID}"
			><div title="{{revision.shortrev}} -- {{revision.revisionid}}" >
				<div>
					<b>{{revision.message}}</b>
				</div>
				<div >
					<span><span class="mr-2"><app-avatar-only [size]="18" [uuid]="revision.authorUuid"></app-avatar-only></span>created <span title="{{revision.date}}">{{revision.shortdate}}</span> by {{revision.authorname}}</span>
				</div>
			</div>
		</a>
	</div>
</div>
