<div class="row">
	<div class="col-xl-9">
		<div class="row">
			<div class="col-xl">
				<app-starred-projects></app-starred-projects>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<app-most-active-projects></app-most-active-projects>			
			</div>
			<div class="col-xl-4">
				<app-recently-contributed-projects></app-recently-contributed-projects>
			</div>
			<div class="col-xl-4">
				<app-recently-created-projects></app-recently-created-projects>
			</div>
		</div>
	</div>
	<div class="col-xl-3">
		<h4>Feed Area</h4>
	</div>
</div>
