	<!-- TODO: extract this part into a new component and also add the ability to retrieve a file list from the component -->
	<div class="d-flex flex-row-reverse">
		<div class="p-0">
			<span><a class="mr-2 ml-2" [routerLink]="['/',activeProjectID,'revision',activeRevision.revisionid]"><span style="font-family:monospace" class="small" >{{activeRevision.shortrev}}</span></a></span>
		</div>
	
		<div class="p-0" *ngIf="activeRevision.hasReview==false">
			<span><a title="Create a new Review" class="mr-2 ml-2 text-light btn btn-sm btn-light"  (click)="onCreateReview(activeProjectID,activeRevision.revisionid)" >create Review</a></span>
		</div>
		
		<div class="p-0" *ngIf="activeRevision.hasReview==true">
			<span><a class="mr-2 ml-2" [routerLink]="['/',activeProjectID,'review',activeRevision.reviewID]">{{activeRevision.reviewID}}</a></span>
		</div>
		
		<!--  Maybe use the click here and use $event.stopPropagation() -->
		<div class="p-0 mr-auto">
			<p><a [routerLink]="['/',activeProjectID,'revision',activeRevision.revisionid]"><strong>{{activeRevision.message}}</strong></a></p>

			<span><a class="btn btn-sm btn-light mr-2" (click)="onToggleFileList()" title="expand touched file list">v</a></span>
			<span class="text-muted small">created <b title="{{activeRevision.date}}">{{activeRevision.reldate}}</b> by <b>{{activeRevision.authorname}}</b></span>
			<div *ngIf="showFileList" class="ml-3 mt-2" (click)="onToggleFileList()">
				<ul class="list-unstyled">
					<li class="list-unstyled" *ngFor="let file of uiFileInformations">
					<span class="mr-2 badge ml-3" [ngClass]="{
						 'badge-primary': file.fileAction=='M', 
						 'badge-secondary': file.fileAction=='R100',
						 'badge-danger': file.fileAction=='D',
						 'badge-success': file.fileAction=='A'
						  } ">{{file.fileAction}}</span><span class="small text-muted">{{file.parentFilePath}}/</span><span class="small text-black"><b>{{file.simpleFileName}}</b></span>
					<li>
				</ul>
			</div>
			
		</div>
	</div>

