<div class="modal-header">
	<h4 class="h4 modal-title">Add Participant to {{currentUiReviewData.reviewId}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">

	<h5 class="h5">Suggested Reviewers</h5>
	<ul class="list-unstyled">
		<li *ngFor="let suggesteduserentry of suggestedUserMap | keyvalue:originalOrder">
			<span class="btn btn-light mb-1" title="Click to add this user" (click)="addParticipant(suggesteduserentry.value.uuid)"><app-avatar-and-name [uuid]="suggesteduserentry.value.uuid"></app-avatar-and-name></span>
		</li>
	</ul>
	
	<h5 class="h5">Find User</h5>

	build a filter / search.
	
	<ul>
 	<li *ngFor="let userentry of currentUserMap | keyvalue:originalOrder">
 		<span class="btn btn-light mb-1" title="Click to add this user" (click)="addParticipant(userentry.value.uuid)"><app-avatar-and-name [uuid]="userentry.value.uuid"></app-avatar-and-name></span>
	</li>
 	</ul>
	
	TODO: and also maybe a userfilter instead of full list.<br>

	TODO: and also maybe sort users by displayname ....<br>

	TODO: also do not show banned users
</div>

<div class="modal-footer">
&nbsp;
</div>

