<div class="modal-header">
	<h4 class="h4 modal-title">Add Participant to {{currentUiReviewData.reviewId}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">

	<h5 class="h5">Suggested Reviewers</h5>
	<ul>
		<li *ngFor="let suggesteduserentry of suggestedUserMap | keyvalue:originalOrder">
			{{suggesteduserentry.value.uuid}}, {{suggesteduserentry.value.displayname}}
		</li>
	</ul>
	<h5 class="h5">All Users</h5>

	TODO: avatar, and name, and button for adding this user
	<ul>
 	<li *ngFor="let userentry of currentUserMap | keyvalue:originalOrder">
		{{userentry.value.uuid}}, {{userentry.value.displayname}}
	</li>
 	</ul>
	
	TODO: only show recommended userlist instead of all users<br>
	
	TODO: and also maybe a userfilter instead of full list.<br>
	
	TODO: and also maybe sort users by displayname ....<br>
	
	TODO: also do not show banned users
</div>

<div class="modal-footer">
&nbsp;
</div>

