<div class="card mt-2">
	<div class="card-body">
		Files (simple list)
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-unstyled"  *ngFor="let change of uiFilePathActions">
			<span class="mr-2 badge" [ngClass]="{
				 'badge-primary': change[0]=='M', 
				 'badge-secondary': change[0]=='R100',
				 'badge-danger': change[0]=='D',
				 'badge-success': change[0]=='A'
				  } ">{{change[0]}}</span><span class="small text-muted">{{change[1]}}</span>
		</li>
	</ul>
	
</div>
	
