<div class="bg-secondary">
	<header >
		<!-- Home link -->
		<div><a [routerLink]="['/']">FutureSQR</a></div>
		<!-- Spacer -->
		<!-- <div></div> -->
		<!-- Navigation bar, which is controlled by the selected view, flexible until the last items -->
		<!-- <div></div> -->
		<!-- Notification area -->
		<!-- <div></div> -->
		<!-- User icon area with drop down navigation and indicator? -->
		<!-- <div>Me</div> -->
	</header>
</div>

<div class="container-fluid">
	<router-outlet></router-outlet>
</div>

<footer class="footer fixed-bottom">
		<ul class="list-unstyled">
			<li><span class="text-muted">&copy; 2022 &mdash; <a href="https://github.com/mindscan-de">mindscan-de</a> | Maxim Gansert</span></li>
		</ul>
</footer>