<h1>main works!</h1>
<p> It really works</p>
<div>

Here we have some routerlinks to each of the projects. We might want to provide more information, not only
links to recent projecs, starred projects, own user feed, and so on. This is the main page presenting all
of the interesting links.
<ul>
	<li><a [routerLink]="['aaaa-project']" >Project A</a></li>
	<li><a [routerLink]="['bbbb-project-a']" >Project B-A</a></li>
	<li><a [routerLink]="['bbbb-project-b']" >Project B-B</a> </li>
	<li><a [routerLink]="['cccc']" >Project C</a></li>
</ul>

</div>
