<h1>main works!</h1>
<p> It really works</p>
<div>

<app-starred-projects></app-starred-projects>


Here we have some routerlinks to each of the projects. We might want to provide more information, not only
links to recent projecs, starred projects, own user feed, and so on. This is the main page presenting all
of the interesting links.

We may have some collections for active projects, projects which were just created, and those where you contribute to
each has a project identifier and a name, and a last updated timestamp. and are ordered by newest updated timestamp 
first.

<ul>
	<li><a [routerLink]="['aaaa-project']" >Project A</a></li>
	<li><a [routerLink]="['bbbb-project-a']" >Project B-A</a></li>
	<li><a [routerLink]="['bbbb-project-b']" >Project B-B</a> </li>
	<li><a [routerLink]="['cccc']" >Project C</a></li>
</ul>

Maybe we want to see <a [routerLink]="['/','allprojects']">all accessible projects</a>.

</div>
