<div>
<app-starred-projects></app-starred-projects>

We might want to provide more information, not only links to recent projecs, own user feed, and so on. 

We may have some collections for active projects, projects which were just created, and those where you contribute to
each has a project identifier and a name, and a last updated timestamp. and are ordered by newest updated timestamp 
first.

<ul>
	<li>TODO: most active projects</li>
	<li>TODO: recently created</li>
	<li>TODO: projects where i recently contributed</li>
	<li>TODO: own user feed</li>
</ul>

Maybe we want to see <a [routerLink]="['/','allprojects']">all accessible projects</a>.
</div>
