<div class="card mt-2">
  <div class="card-body">
	Revisionmanagement
  </div>
  <ul class="list-group list-group-flush">
  	<li class ="list-group-item">
		<span class="float-right">
			<a class="btn btn-sm m-0 btn-light" title="add revision(s)" (click)="openAddRevisionsDialog(activeReviewData)">+</a> 		
 		</span>
  	
  		<p><span class="small text-muted"><b class="mr-2">Revision(s):</b><span title="Number of Revisions">{{currentUiReviewRevisions.length}}</span></span></p>
  		<ul class="list-unstyled">
			<li *ngFor="let revision of currentUiReviewRevisions">
				<div class="badge badge-secondary float-left mr-3 center" >{{revision.authorname}}</div>
				<div class="small text-muted" title="{{revision.shortrev}}&nbsp;{{revision.date}}"><b>{{revision.message}}</b> ({{revision.shortdate}})</div>
			</li>
  		</ul>
	</li>
  </ul>

</div>
