<div class="card mt-2">
  <div class="card-header">
	Revisionmanagement
  </div>
  <ul class="list-group list-group-flush">
  	<li class ="list-group-item">
		<span class="float-right">
			<a class="btn btn-sm ml-2 btn-light" title="add revision(s)" (click)="openAddRevisionsDialog(activeReviewData)">+</a>
			<a class="btn btn-sm ml-2 btn-light" title="remove revision(s)" (click)="openRemoveRevisionsDialog(activeReviewData)">&ndash;</a>
 		</span>
  	
  		<p><span class="small text-muted"><b class="mr-2">Revision(s):</b></span><span class="badge badge-light text-muted" title="Number of revisions in this review">{{currentUiReviewRevisions.length}}</span></p>
  		<ul class="list-unstyled ml-2 mr-2">
			<li class="mb-2" *ngFor="let revision of currentUiReviewRevisions">
				<div class="small" title="{{revision.shortrev}} -- {{revision.revisionid}}">
					<div>
						<b>{{revision.message}}</b>
					</div>
					<div>
						<span class="text-muted"><span class="mr-2"><app-avatar-only [size]="18" [uuid]="revision.authorUuid"></app-avatar-only></span>created <span title="{{revision.date}}">{{revision.shortdate}}</span> by {{revision.authorname}}</span>
					</div>
				</div>
			</li>
  		</ul>
	</li>
  </ul>

</div>
