<div class="row">
	<div class="col-xl-9">
		<app-basic-review-information [activeReviewData]="activeReviewData" [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID"></app-basic-review-information>
	
		
		<div class="row">
			<div class="col">
			
				<div class="card mt-2">
					<div class="card-body">
						Revisionselection Panel (TODO: implement me)<br />
						<span class="small text-muted">Revisions: <span title="Number of revisions">{{activeReviewData.reviewRevisions.length}}</span> (TODO: implement a more complex revision list, including commitcomments, parent state, etc.)</span>
					</div>
					
					<ul class="list-group list-group-flush">
						<li class="list-group-item" *ngFor="let revision of activeReviewData.reviewRevisions">
							<span class="small">{{revision}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row mt-2" >
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let fileChangeSet of uiFileChangeSets">
						<div class="row">
							<div class="col">
								<span class="float-right"><button type="button" class="btn btn-light btn-sm" (click)="openSideBySideDialog(fileChangeSet)">Side by Side</button></span>				
								<app-file-change-set-single-diff [fileChangeSet]="fileChangeSet"></app-file-change-set-single-diff>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h4>Discussion (TODO)</h4>
				
				* Provide the discussion for this review<br />
				* provide unsolved previous discussions for the file

			</div>
		</div>

		
		
	</div>
	
	<div class="col-xl-3">
		<app-review-participation-panel [activeReviewData]="activeReviewData" (onReviewStateChanged)="reloadReviewInformation($event)"></app-review-participation-panel>
		
		<app-revision-participation-panel [activeReviewData]="activeReviewData" [reviewRevisions]="" (onRevisionStateChanges)="reloadRevisionInformation($event)"></app-revision-participation-panel>
		
		<div class="row mt-2">
			<div class="col">
				<h4>Files (todo file tree)</h4>
				<ul class="list-group">
					<li class="list-group-item"  *ngFor="let change of uiFilePathActions">
						<span class="mr-2 badge" [ngClass]="{
							 'badge-primary': change[0]=='M', 
							 'badge-secondary': change[0]=='R100',
							 'badge-danger': change[0]=='D',
							 'badge-success': change[0]=='A'
							  } ">{{change[0]}}</span><span class="small text-muted">{{change[1]}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>