<div class="row">
	<div class="col-xl-9">
		<app-basic-review-information [activeReviewData]="activeReviewData" [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID"></app-basic-review-information>
	
		<app-revision-selection-panel [activeReviewData]="activeReviewData" [reviewRevisions]="uiRevisionInformation" (onRevisionSelectionChanged)="onRevisionSelectionChanged($event)"></app-revision-selection-panel>		
			
		<div class="row mt-2" >
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let fileChangeSet of uiFileChangeSets">
						<div class="row">
							<div class="col">
								<span class="float-right"><button type="button" class="btn btn-light btn-sm" (click)="openSideBySideDialog(fileChangeSet)">Side by Side</button></span>				
								<app-file-change-set-single-diff [fileChangeSet]="fileChangeSet"></app-file-change-set-single-diff>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<app-recent-review-actions-log></app-recent-review-actions-log>

		<app-review-discussion-panel [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID"></app-review-discussion-panel>
		
	</div>
	
	<div class="col-xl-3">
		<app-review-participation-panel [activeReviewData]="activeReviewData" (onReviewStateChanged)="reloadReviewInformation($event)"></app-review-participation-panel>
		
		<app-revision-participation-panel [activeReviewData]="activeReviewData" [reviewRevisions]="uiRevisionInformation" (onRevisionStateChanged)="reloadRevisionInformation($event)"></app-revision-participation-panel>
		
		<app-file-participation-file-list-panel [fileInformations]="uiFileInformations" ></app-file-participation-file-list-panel>
	</div>
	
</div>