<div class="row">
	<div class="col-xl-9">
		<div class="row">
			<div class="col">

				<ul class="list-group mt-2">
					<li class="list-group-item">
						<span>
							<span class="float-left mr-3 badge " 
							 [ngClass]="{
							 'badge-primary': activeReviewData.reviewLifecycleState=='Open', 
							 'badge-secondary': activeReviewData.reviewLifecycleState=='Closed',
							 'badge-warning': activeReviewData.reviewLifecycleState=='Deleted'
							  } ">  {{activeReviewData.reviewLifecycleState}}</span><h4><b>{{activeReviewID}}</b> {{activeReviewData.reviewTitle}}</h4></span>
					</li>
					<li class="list-group-item">
						<p>Back to <a [routerLink]="['/', activeProjectID]">{{activeProjectID}}</a> &nbsp; <span class="small text-muted">(TODO: use title bar for back navigation)</span></p>
						<span class="small text-muted">Additional Description:<br>{{activeReviewData.reviewDescription}}</span>
					</li>
				</ul>
				

			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<span class="small text-muted">Revisions: <span title="Number of revisions">{{activeReviewData.reviewRevisions.length}}</span> (TODO: implement a more complex revision list, including commitcomments, parent state, etc.)</span>
			
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let revision of activeReviewData.reviewRevisions">
						<span class="small">{{revision}}</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="row mt-2" >
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let fileChangeSet of uiFileChangeSets">
						<div class="row">
							<div class="col">
								<span class="float-right"><button type="button" class="btn btn-light btn-sm" (click)="openSideBySideDialog(fileChangeSet)">Side by Side</button></span>				
								<app-file-change-set-single-diff [fileChangeSet]="fileChangeSet"></app-file-change-set-single-diff>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h4>Discussion</h4>
				
				Provide the previous discussion
				

			</div>
		</div>

		
		
	</div>
	
	<div class="col-xl-3">
		<app-review-participation-panel [activeReviewData]="activeReviewData" (onReviewStateChanged)="reloadReviewInformation($event)"></app-review-participation-panel>
		
		<div class="row mt-2">
			<div class="col">
				<h4>Files (todo file tree)</h4>
				<ul class="list-group">
					<li class="list-group-item"  *ngFor="let change of uiFilePathActions">
						<span class="small">{{change[0]}} &mdash; {{change[1]}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>