<div class="card mt-2 col-9">
	<div class="card-body">
		Users
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-unstyled">
			<div><!-- TODO: flex box layout -->
				<span><b>User Displayname</b></span>
				<span><a class="badge badge-danger ml-2">show if is banned</a></span>
				<span><a class="btn btn-light ml-2">ban</a></span>
				<span><a class="btn btn-light ml-2">unban</a></span>
				<span><a class="btn btn-light ml-2">edit</a></span>
			</div>
		</li>
		<li class="list-group-item list-unstyled">
			A second user Entry 
		</li>
		
	</ul>
</div>
