<div class="row">
	<div class="col col-9">
	
		<!--  maybe extract later to component -->
		<div class="card mt-2">
			<div class="card-header">
				Edit
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="inputDisplayName">Name</label>
					<input type="text" class="form-control" id="inputDisplayName" aria-describedby="displayNameHelp">
					<small id="displayNameHelp" class="form-text text-muted">This name will appear on you commits.</small>
				</div>
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" readonly>
					<small id="emailHelp" class="form-text text-muted">For notification purpose.</small>
				</div>

				<div>
					<label>Features</label>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="featureCheck1">
						<label class="form-check-label" for="featureCheck1">
							Feature 1
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="featureCheck2">
						<label class="form-check-label" for="featureCheck2">
							Feature 2
						</label>
					</div>
				</div>

			</div>
			<div class="card-body">
				maybe we also want to provide some last/latest activities of the user, e.g. to decide whether 
				user is still active.
			</div>
		</div>
		
		<div class="row">
			<div class="col col-6">
				<!-- Groups -->
				<div class="card mt-2">
					<div class="card-header">
						Groups
					</div>
					<div class="card-body">
						List of groups of this user / add / remove buttons
					</div>
				</div>
			</div>
			
			<div class="col col-6">
				<!-- Roles -->
				<div class="card mt-2">
					<div class="card-header">
						Roles
					</div>
					<div class="card-body">
						List of roles of this user / add / remove buttons
					</div>
				</div>
			</div>
		
		</div>
		
	</div>
	
	<div class="col col-3">
		<div class="card mt-2">
			<div class="card-header">
				<div class="float-right">
					<span *ngIf="!activeUser.isbanned" class="badge badge-success ">active</span>
					<span *ngIf="activeUser.isbanned" class="badge badge-danger ">banned</span>
				</div>
				{{activeUser.displayname}}
			</div>
			<div class="card-body">
				<div class="mx-auto" style="width: 256px;">
				<!-- Problem is that we need to duplicate the ui component stuff for this separate app. We can't just reuse the outer app code.-->
				<!-- <app-avatar-only [uuid]="test"></app-avatar-only> -->
					<app-adminapp-avatar-only [size]="256" [uuid]="activeUserID"></app-adminapp-avatar-only>
				</div>
			</div>
		</div>
		
		<div class="card mt-2">
			<div class="card-body">
				<span *ngIf="!activeUser.isbanned"><a class="btn btn-light btn-sm" (click)="onBanUser()">ban</a></span>
				<span *ngIf="activeUser.isbanned"><a class="btn btn-light btn-sm" (click)="onUnbanUser()">unban</a></span>
				
				<br> TODO: maybe also show date and reason of ban here e.g. that user left company.
			</div>
		</div>
		
		
	</div>
</div>
