<div class="modal-header">
  <h4 class="modal-title">Change</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
	<div class="col">
		<div class="row">
			<span>
				<button class="btn btn-sm btn-secondary" (click)="onNavLeftClicked()">&lt;</button>
			</span>
			<span class="ml-2 mr-2"><span class="mr-1">{{currentShownFileUiIndex}}</span>/<span class="ml-1">{{numberOfFiles}}</span> </span>
			<span>
				<button class="btn btn-sm btn-secondary" (click)="onNavRightClicked()">&gt;</button>
			</span>
		</div>
	</div>  
</div>

<div class="modal-body">
	<app-file-change-set-side-by-side-diff [fileChangeSet]="currentUiFileChangeSet"></app-file-change-set-side-by-side-diff>
</div>

<div class="modal-footer">
  &nbsp;
</div>

