<div class="row p-0">
	<div class="col-xl-6">
		<ngx-codemirror
		  [(ngModel)]="leftContent.diffContent"
		  [disabled]="readOnly"
		  [options]="{
		    lineNumbers: true,
		    viewportMargin: viewPortMargin,
		    firstLineNumber: leftContent.diffLineNumberStart,
		    theme: 'eclipse',
		    mode: 'diff'
		  }"
		></ngx-codemirror>
	</div>
	
	<div class="col-xl-6">
		<ngx-codemirror
		  [(ngModel)]="rightContent.diffContent"
		  [disabled]="readOnly"
		  [options]="{
		    lineNumbers: true,
		    viewportMargin: viewPortMargin,
		    firstLineNumber: rightContent.diffLineNumberStart,
		    theme: 'eclipse',
		    mode: 'diff'
		  }"
		></ngx-codemirror>
	</div>
</div>
<ng-container *ngIf ="leftUiDiff.length + rightUiDiff.length >0">
	<div  class="row p-0" >
		<div class="col-xl-12">
			side by side
		</div>
	</div>
	<div  class="row p-0" >
		<div class="col-xl-6">
			<pre *ngFor="let diff of leftUiDiff" class="small bpediff-l-{{diff.uiclass}}">{{diff.uicontent}}</pre>
		</div>
		<div class="col-xl-6">
			<pre *ngFor="let diff of rightUiDiff" class="small bpediff-r-{{diff.uiclass}}">{{diff.uicontent}}</pre>
		</div>
	</div>
</ng-container>

<ng-container *ngIf ="unifiedUiDiff.length>0">
	<div  class="row p-0" >
		<div class="col-xl-12">
			unified
		</div>
	</div>

	<div  class="row p-0" >
		<div class="col-xl-12">
			<pre *ngFor="let diff of unifiedUiDiff" class="small bpediff-u-{{diff.uiclass}}">{{diff.uicontent}}</pre>
		</div>
	</div>
</ng-container>
