<div class="row p-0">
	<div class="col-xl-6">
		<ngx-codemirror
		  [(ngModel)]="leftContent.diffContent"
		  [disabled]="readOnly"
		  [options]="{
		    lineNumbers: true,
		    viewportMargin: viewPortMargin,
		    firstLineNumber: leftContent.diffLineNumberStart,
		    theme: 'eclipse',
		    mode: 'diff'
		  }"
		></ngx-codemirror>
	</div>
	
	<div class="col-xl-6">
		<ngx-codemirror
		  [(ngModel)]="rightContent.diffContent"
		  [disabled]="readOnly"
		  [options]="{
		    lineNumbers: true,
		    viewportMargin: viewPortMargin,
		    firstLineNumber: rightContent.diffLineNumberStart,
		    theme: 'eclipse',
		    mode: 'diff'
		  }"
		></ngx-codemirror>
	</div>
</div>

