<div class="row">
	<div class="col col-9">
	
		<!--  maybe extract later to component -->
		<div class="card mt-2">
			<div class="card-header">
				Edit
			</div>
			<div class="card-body">
				provide editable details of this group from admin perspective.
				like a boolean switch whether new users will be automatically added to this group or not.
				( e.g. think of an "everyone" group, displayname, group uuid, )
			</div>
		</div>
		
		<div class="row">
			<div class="col col-6">
				<!-- Groups -->
				<div class="card mt-2">
					<div class="card-header">
						Projects + number of projects in group
					</div>
					<div class="card-body">
						List projects in this group (and add / remove buttons)
					</div>
				</div>
			</div>
			
			<div class="col col-6">
				<!-- Roles -->
				<div class="card mt-2">
					<div class="card-header">
						Users + Number of users in this group
					</div>
					<div class="card-body">
						List users in this group (and add / remove buttons)
					</div>
				</div>
			</div>
		
		</div>
	</div>
		
	<div class="col col-3">
		<div class="card mt-2">
			<div class="card-body">
				create another group?
			</div>
		</div>
	</div>
		
</div>
	