<div class="card mb-2">
	<div class="card-body">
		<span class="text-muted small">Thread (id:{{activeThread.threadId}}) started by <b>{{activeThread.authorId}}</b></span>	
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item" *ngFor="let messageid of activeThread.messagesId">
			<app-single-review-thread-message [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID" [activeMessage]="activeThread.messages[messageid]"></app-single-review-thread-message>
		</li>
	</ul>
</div>