<div class="row">
	<div class="col-xl-9">
		<app-basic-project-information [activeProjectId]="activeProjectID" (revisionHistoryUpdated)="reloadCommitHistory($event)"></app-basic-project-information>
		
		<div class="row">
			<div class="col">
				<h4>Recent Commits</h4>
				
				<ul>
					<li><b>TODO:</b> the very HEAD is missing.... for some reason.... fix this.</li>
				</ul>
				
				<ng-container *ngFor="let commitsByDate of uiModelRecentProjectCommitsGroupedByDate | keyvalue:originalOrder">
					<h5 class="mt-3">{{commitsByDate.key}}</h5>
					<ul class="list-group">
						<li *ngFor="let revision of commitsByDate.value.revisions" class="list-group-item">
							<app-project-recent-revision [activeProjectID]="activeProjectID" [activeRevision]="revision"></app-project-recent-revision>
						</li>
					</ul>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="col-xl-3">
		<app-personal-user-feed></app-personal-user-feed>
	</div>
</div>
