<div class="card mt-2">
	<div class="card-header">
		<div class="h4">Revison: {{activeRevisionData.shortrev}} &mdash; {{activeRevisionData.message}}</div>
	</div>
	<div class="card-body">
		<div class="small text-muted"><app-avatar-and-name [uuid]="activeRevisionData.authorUuid" size="28"></app-avatar-and-name> authored <b>{{activeRevisionData.reldate}}</b> on <b title="{{activeRevisionData.date}}">{{activeRevisionData.shortdate}}</b></div>
		<!-- provide link to unified diff view?, and possibility to download the diff file? -->
	</div>
</div>

