<div class="card mt-2">
	<div class="card-body">
		<div class="h4">Revison: {{activeRevisionData.shortrev}} &mdash; {{activeRevisionData.message}}</div>
		
		<div class="small text-muted">authored <b>{{activeRevisionData.reldate}}</b> on <b title="{{activeRevisionData.date}}">{{activeRevisionData.shortdate}}</b> by <b>{{activeRevisionData.authorname}}</b></div>
		<br/>
		
		Back to <a [routerLink]="['/', activeProjectID]">activeProjectID</a> (todo: provide central breadcrumb navigation, todo: also provide project name and such for current selected project.).
		
		<!-- provide link to unified diff view?, and possibility to download the diff file? -->
	</div>
</div>

