<div class="modal-header">
  <h4 class="h4 modal-title">Remove Revision from {{currentUiReviewData.reviewId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
	<ul class="list-unstyled ml-2 mr-2">
		<li class="mb-2" *ngFor="let revision of currentUiReviewRevisions">
			<div class="d-flex">
				<div class="float-left p-1">
					<app-avatar-only [size]="36" [uuid]="revision.authorUuid"></app-avatar-only>
				</div>
				<div class="p-1 small" title="{{revision.shortrev}} -- {{revision.revisionid}}">
					<div>
						<b>{{revision.message}}</b>
					</div>
					<div>
						<span class="text-muted">created <span title="{{revision.date}}">{{revision.shortdate}}</span> by {{revision.authorname}}</span>
					</div>
				</div>
				<div class="ml-auto p-1">
					<a class="btn btn-secondary btn-sm" (click)="removeRevisionFromReview( currentUiReviewData.reviewFkProjectId, currentUiReviewData.reviewId, revision.revisionid); event.stopPropagation();">remove</a>
					<tt class="ml-2 small">{{revision.shortrev}}</tt>				
				</div>
			</div>
		</li>
	</ul>

	<ul>
		<li>TODO: group revisions by date?</li>
		<li>TODO: add ability to expand file list for each commit</li>
	</ul>
</div>

<div class="modal-footer">
  &nbsp;
</div>

