<div class="modal-header">
  <h4 class="h4 modal-title">Remove Revision from {{currentUiReviewData.reviewId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
	<ul class="list-group ml-0 mr-0">
		<li *ngFor="let revision of currentUiReviewRevisions" class="list-group-item ">
			<app-add-remove-single-revision-item 
				[revision]="revision" 
				[btnText]="'remove'" 
				[title]="'Remove this revision from review'" 
				[activeProjectID]="currentUiReviewData.reviewFkProjectId"
				(btnClicked)="removeRevision($event)"></app-add-remove-single-revision-item>
		</li>
		
	</ul>

	<ul>
		<li>TODO: group revisions by date?</li>
		<li>TODO: add ability to expand file list for each commit</li>
	</ul>
</div>

<div class="modal-footer">
  &nbsp;
</div>

