<div class="modal-header">
  <h4 class="h4 modal-title">Remove Revision from {{currentUiReviewData.reviewId}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss')">
	<span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
	<ul class="list-unstyled ml-2 mr-2">
		<li class="mb-2" *ngFor="let revision of currentUiReviewRevisions">
			<div class="float-left mr-2">
				<app-avatar-only [size]="36" [uuid]="revision.authorUuid"></app-avatar-only>
			</div>
			<div class="small" title="{{revision.shortrev}} -- {{revision.revisionid}}">
				<div>
					<b>{{revision.message}}</b>
				</div>
				<div>
					<span class="text-muted">created <span title="{{revision.date}}">{{revision.shortdate}}</span> by {{revision.authorname}}</span>
				</div>
			</div>
		</li>
	</ul>


	<ul>
		<li>TODO: show revisions and buttons to remove revisions</li>
		<li>TODO: group revisions by date?</li>
	</ul>
</div>

<div class="modal-footer">
  &nbsp;
</div>

