<div class="card mt-2">
	<div class="card-body">
		Revisionselection Panel (TODO: implement me)<br />
		<span class="small text-muted">Revisions: <span title="Number of revisions">{{currentUiReviewRevisions.length}}</span> (TODO: implement a more complex revision list, including commitcomments, parent state, etc.)</span>
	</div>
	
	<ul class="list-group list-group-flush">
		<div class="h3 m-1">
			<ng-container *ngFor="let revision of currentUiReviewRevisions">
				<span title="{{revision.message}} - p({{revision.parents}})"><span class="badge badge-light m-1">&#x25C6; &#x25C7;</span></span>
			</ng-container>
		</div>
	</ul>
</div>
