<div class="card mt-2">
	<div class="card-body">
		<span *ngIf="activeRevisionData.hasReview">
			This revision is part of review <b><a [routerLink]="['/',activeProjectID,'review',activeRevisionData.reviewID]" title="goto review">{{activeRevisionData.reviewID}}</a></b>
		</span>
		<span *ngIf="!activeRevisionData.hasReview">
			<button class="btn btn-sm btn-secondary mr-2" title="Create a new review from this revision" (click)="onCreateReview(activeProjectID,activeRevisionData.revisionid)" >create new review</button>
			<button class="btn btn-sm btn-secondary mr-2" title="Add this revision to a review" (click)="onAttachToReview(activeProjectID, activeRevisionData.revisionid)" [disabled]="isAttachDisabled">attach to review</button>
		</span>
	</div>
</div>
