<ng-container *ngIf="uimodel.allreviewthreads.length>0">
	<ng-container *ngFor="let thread of uimodel.allreviewthreads">
		<app-single-review-thread-panel [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID" [activeThread]="thread" (threadUpdated)="onThreadUpdated($event)"></app-single-review-thread-panel>
	</ng-container>		
</ng-container>


<div class="card mt-2 mb-5">
	<div class="card-body">
		<!-- TODO: Maybe we can use form-validation techniques. -->
		<form (ngSubmit)="onCreateThreadClicked()">
			<div class="form-group">
				<label for="startThreadTextarea">Start a new discussion</label>				
				<textarea class="form-control" id="startThreadTextarea" rows="5" [formControl]="formDiscussionText"></textarea>
			</div>
			<button type="submit" class="float-right btn btn-sm btn-primary">start discussion</button>
		</form>

		<ul>
			<li>TODO: provide unsolved previous discussions for the files</li>
			<li>TOOD: integrate the file discussions into the code viewer, where applicable.</li>
		</ul>
		
	</div>
</div>

