<hr>
<div class="card mt-3">
	<div class="card-body">
		<h4>Discussion</h4>
		<p><span>{{uimodel.allreviewthreads.length}} discussions present.</span></p>
		
		<ng-container *ngIf="uimodel.allreviewthreads.length>0">
			<ng-container *ngFor="let thread of uimodel.allreviewthreads">
				<app-single-review-thread-panel [activeProjectID]="activeProjectID" [activeReviewID]="activeReviewID" [activeThread]="thread"></app-single-review-thread-panel>
			</ng-container>		
		</ng-container>
		
		<ul>
			<li>TODO: Provide the discussion for this review </li>
			<li>TODO: provide unsolved previous discussions for the file</li>
			<li>TODO: Provide text area / formular to append a new discussion thread to a review</li>
		</ul>
		
		<p>
			TODO: provide some text area here with the new message and such...<br>
			<a class="btn btn-sm btn-primary" (click)="onCreateThreadClicked()">start discussion</a>
		</p>
		
	</div>
</div>

